.header,
.part1 {
    background-color: #1f2937;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: none;
    margin: 0px;
    display: flex;
    margin-left: auto;
    gap: 30px;
}

a, .secondary {
    color:#e5e7eb;
    font-size: 18px;
}
