body {
    margin: 0px;
    padding: 0px;

}

/* header */
.header{
    background-color: #1f2937;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: none;
    margin: 0px;
    display: flex;
    margin-left: auto;
    gap: 30px;
}

a, .subtext {
    color:#e5e7eb;
    font-size: 18px;
}

/* part1 */
.part1 {
    background-color: #1f2937;
    display:flex;
    justify-content: center;
    padding: 70px;
    gap: 80px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.right {
    max-width: 400px;
}

.left {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: gray;   
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 5px;
    border: #f9faf8;
    padding: 5px 15px;
}

/* part 2 */

.part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.cards  {
    display: flex;
    gap: 40px;
    margin-bottom: 100px;
}

.card {
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
}

.box {
    border: solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.random {
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    margin-bottom: 50px;
}

.gray {
    color: gray;
}

/* part 3 */

.part3 {
    display: flex;
    flex-direction: column; 
    padding: 100px;
    background-color: #e5e7eb;
    width: 100%;
    align-items: center;
    color:#1f2937;
}

.waa {
    max-width: 800px;
}

.quote {
    display: flex;
    font-style: italic;
    font-size: 36px;
}

.bywho {
    display: flex;
    margin-left: 550px;
    font-size: 20px;
    font-weight: bolder;
}


